{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ $Title := .Title }}
{{ $Site := .Site }}

<!-- подключение  ВК-->
<script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>

<!-- подключение FB -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.0&appId=1466342356985689&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section class="page-header page-header-xs">

    <div class="container text-center">
        <h3 style="margin-bottom: 10px; margin-top: 30px" >
            {{.Title}}
        </h3>
        <small>{{ .Date.Format "02.01.2006" }}</small>
    </div>
</section>

<section class="article-content b-0" style="padding-top: 50px">
    <div class="container">

        <div class="row justify-content-md-center">
            <div class="col-lg-7">
                {{ .Content }}
                <br>
                {{ range $catName := .Params.categories }}
                <a class="tag" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">
                    <span class="txt">{{ . }}</span>
                    {{ range $name, $items := $Site.Taxonomies.categories }}
                        {{ if eq ($catName  | urlize) ($name  | urlize) }}<span class="num">{{ len $items }}</span>{{ end }}
                    {{ end }}
                </a>
                {{ end }}
                {{ range $tagName := .Params.tags }}
                    <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                        <span class="txt">{{ $tagName }}</span>
                        {{ range $name, $items := $Site.Taxonomies.tags }}
                            {{ if eq ($tagName  | urlize) ($name  | urlize) }}<span class="num">{{ len $items }}</span>{{ end }}
                        {{ end }}
                    </a>
                {{ end }}


                <!-- SHARE POST -->
                <div class="clearfix mt-30">

                    <!-- ВК -->
                    <script type="text/javascript"><!--
                    document.write(VK.Share.button(false,{type: "round", text: "Сохранить"}));
                    VK.Observer.subscribe("widgets.like.shared", function f(){
                        yaCounter45324948.reachGoal('VK_SHARE')
                    });
                    --></script>

                    <!-- FB -->
                    <div class="fb-share-button" data-href="{{ .Permalink }}" onclick="yaCounter45324948.reachGoal('FB_SHARE'); return true;" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Поделиться</a></div>

                </div>

            </div>
        </div>
    </div>
</section>




<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<h1>{{ .Title }}</h1>-->
            <!--<small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small>-->
            <!--<div style="margin-top: 20px">-->
                <!--{{ .Content }}-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

{{ partial "footer.html" . }}