{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- START -->
<section class="b-0 pt-0 pb-0" style="background: linear-gradient(306deg, #36e8a8, #0831c5 85%, #0831c5);">

    <div class="container text-center">

        <div class="clearfix pb-0">
            <!--<h1 class="m-0 fs-40 text-white text-uppercase mb-0 hidden-xs-down" data-bgtext="Smarty"-->
                <!--style="font-family:Arial,Helvetica,sans-serif">Боевая соционика</h1>-->
            <!--<h1 class="m-0 fs-20 text-white text-uppercase mb-0 hidden-sm-up" data-bgtext="Smarty"-->
                <!--style="font-family:Arial,Helvetica,sans-serif">Боевая соционика</h1>-->
            <!--<p class="lead fs-30 text-white mb-0">время учиться</p>-->
            <h3 class="mb-0 fw-200 text-white">
                <!--<b>люди разные</b>-->
                <img src="/img/logo.png" alt="Боевая соционика" style="width: 200px">
                <!--<b>и это весело</b>-->

                <!--<span class="word-rotator" data-delay="2000">-->
									<!--<span class="items text-white">-->
										<!--<span>и</span>-->
										<!--<span>это</span>-->
										<!--<span>весело</span>-->
									<!--</span>-->
								<!--</span>&lt;!&ndash; /word rotator &ndash;&gt;-->
            </h3>
            <!--<h3 class="fs-12 text-white">Любая достаточно развитая технология неотличима от магии.</h3>-->

        </div>


    </div>


    <!--<svg width="100%" height="300px" class="d-block" fill="#fbfbfb" xmlns="http://www.w3.org/2000/svg"-->
         <!--viewBox="0 0 1000 300" preserveAspectRatio="none">-->
        <!--<path style="opacity:0.15"-->
              <!--d="M 1000 299 l 2 -279 c -155 -36 -310 135 -415 164 c -102.64 28.35 -149 -32 -232 -31 c -80 1 -142 53 -229 80 c -65.54 20.34 -101 15 -126 11.61 v 54.39 z"></path>-->
        <!--<path style="opacity:0.3"-->
              <!--d="M 1000 286 l 2 -252 c -157 -43 -302 144 -405 178 c -101.11 33.38 -159 -47 -242 -46 c -80 1 -145.09 54.07 -229 87 c -65.21 25.59 -104.07 16.72 -126 10.61 v 22.39 z"></path>-->
        <!--<path style="opacity:1"-->
              <!--d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z"></path>-->
    <!--</svg>-->
</section>
<!-- /START -->

<div class="alert mt-6 mb-6 b-0 text-xs-center" style="background-color: #fbfbfb;">
    <div class="container">

        <div class="row">

            <div class="col-md-9 col-sm-12"><!-- left text -->
                <!--<p>-->
                    <!--<small>На златом крыльце сидели:<br>-->
                    <!--Царь, царевич, король, королевич,<br>-->
                    <!--Сапожник, портной -<br>-->
                    <!--Кто ты будешь такой?<br>-->
                    <!--Говори поскорей,<br>-->
                    <!--Не задерживай<br>-->
                        <!--Добрых и честных людей!<br></small>-->
                <!--</p>-->
                <h3 class="mb-0 fw-200">
                    <b>Выбери свой архетип.</b> Кто ты?

                    <span class="word-rotator" data-delay="2000">
									<span class="items">
										<span>Король Мечей</span>
										<span>Дама Кубков</span>
										<span>Рыцарь Пентаклей</span>
										<span>Паж Жезлов</span>
									</span>
								</span><!-- /word rotator -->
                </h3>
                <p class="mb-0 fw-200 fs-15 pt-10" style="font-style: italic">
                    "Любая достаточно развитая технология неотличима от магии."<br> <b>Третий закон Кларка</b>
                </p>
            </div><!-- /left text -->

            <div class="col-12 mt-15 hidden-md-up"><!-- mobile spacer -->&nbsp;</div>

            <div class="col-12 col-lg-3 col-md-3 col-sm-12"><!-- right btn -->
                <a  rel="nofollow" href="/archetype" class="btn btn-3d btn-blue btn-shadow-1 btn-round btn-lg fs-16 mb-0">
                    Описание 16 архетипов
                </a>
            </div><!-- /right btn -->

        </div>

    </div>
</div>

<!--СТАТЬИ-->

<section class="p-0 mb-40 post-list">
    <div class="container mt-20">
        <h2 class="mb-30 fw-200">Статьи</h2>

        <!-- Portfolio Items -->
        <div id="portfolio" class="portfolio-gutter">

            <div class="row">
<!--                {{ range first 5 (sort (where site.RegularPages "Type" "in" "post") ".Params.date" "desc") }}-->
<!--                <<div class="col-md-3 col-sm-4">-->
<!--                    <a href="{{.Permalink}}">{{.Title}}</a>-->
<!--                </div>-->
<!--                {{ end }}-->
                {{ range first 10 (sort (where site.RegularPages "Type" "in" "post") ".Params.date" "desc") }}

                <div class="col-md-3 col-sm-4"><!-- item -->

                    <div class="item-box">
                        <figure>
                            <a href="{{ .Permalink }}">
                                <figure>
                                    {{if .Resources.GetMatch "images/title*" }}
                                    {{ $original1 := .Resources.GetMatch "images/title*"}}
                                    {{ with ($original1.Fill "400x400") }}
                                    <img class="img-fluid" src="{{.RelPermalink}}" width="400" height="400" alt="{{ .Title }}"/>
                                    {{ end }}
                                    {{else}}
                                    <p>"images/title*"not found</p>
                                    {{ end }}

                                </figure>
                            </a>
                        </figure>
                        <div class="item-heading">{{.Title}}</div>
                        <div class="item-desc"><small>{{.Description}}</small></div>

                        <div class="item-box-desc" style="padding-top: 5px!important; padding-left: 0!important;">
                            <ul class="list-inline  m-0">
                                {{ range .Params.categories }}
                                <li><span class="badge badge-info"><a href="/categories/{{ . | urlize }}" style="color: white">{{ . }}</a></span></li>
                                {{ end }}
                                {{ range .Params.tags }}
                                <li><span class="badge badge-info"><a href="/tags/{{ . | urlize }}" style="color: white">{{ . }}</a></span></li>
                                {{ end }}
                            </ul>
                        </div>

                    </div>

                </div><!-- /item -->

                {{ end }}

            </div>

        </div>
    </div>
</section>


<!--&lt;!&ndash; Packages ; Main Multipurpose &ndash;&gt;-->
<!--<section class="b-0 mt-6 mb-6">-->
    <!--<div class="leftTriangle invert hidden-md-down" style="background-color: #f9fdf9;">&lt;!&ndash; trianble background &ndash;&gt;</div>-->
    <!--<div class="rightTriangle invert hidden-md-down" style="background-color: #fbf9f0;">&lt;!&ndash; trianble background &ndash;&gt;</div>-->

    <!--<div class="container">-->

        <!--<div class="row">-->

            <!--<div class="col-lg-6 text-left text-md-center">-->

                <!--<a href="start-package.html" class="mt-30 mb-30 d-block">-->

                    <!--<h1 class="mb-0 fs-50 fw-200">Packages</h1>-->
                    <!--<h3 class="font-lato fs-17 d-block text-muted m-0">-->
                        <!--More than a single template.<br>-->
                        <!--Complete niche templates ready to use.-->
                    <!--</h3>-->

                    <!--&lt;!&ndash; customizable color hr &ndash;&gt;-->
                    <!--<hr class="hr-color hr-success w-100">-->

                    <!--<div class="mt-60">-->
									<!--<span class="btn btn-light btn-shadow-1 btn-round fs-16 mb-0">-->
										<!--<i class="et-trophy text-success"></i> &nbsp;-->
										<!--EXPLORE PACKAGES-->
									<!--</span>-->
                    <!--</div>-->

                    <!--<div class="clearfix mt-80 hidden-md-down">&lt;!&ndash; optical spacer &ndash;&gt;</div>-->

                <!--</a>-->

            <!--</div>-->

            <!--<div class="col-lg-6 text-right text-md-center">-->

                <!--<a href="start-multipage.html" class="mt-30 mb-30 d-block">-->

                    <!--<h1 class="mb-0 fs-50 fw-200">Main Multipurpose</h1>-->
                    <!--<h3 class="font-lato fs-17 d-block text-muted m-0">-->
                        <!--Ready to use layouts &amp; elements! <span class="text-danger">Admin template included!</span>-->
                    <!--</h3>-->

                    <!--&lt;!&ndash; customizable color hr &ndash;&gt;-->
                    <!--<hr class="hr-color hr-warning w-100">-->

                    <!--<div class="mt-60">-->
									<!--<span class="btn btn-light btn-shadow-1 btn-round fs-16 mb-0">-->
										<!--<i class="et-expand text-warning"></i> &nbsp;-->
										<!--EXPLORE MULTIPURPOSE-->
									<!--</span>-->
                    <!--</div>-->

                    <!--<div class="clearfix mt-80 hidden-md-down">&lt;!&ndash; optical spacer &ndash;&gt;</div>-->

                <!--</a>-->

            <!--</div>-->

        <!--</div>-->

    <!--</div>-->

<!--</section>-->
<!--&lt;!&ndash; /Packages ; Main Multipurpose &ndash;&gt;-->



<hr class="hidden-md-up">




{{ partial "footer.html" . }}