


<!-- FOOTER -->
<!--<footer id="footer" class="sticky">-->

    <!--<div class="copyright">-->
        <!--<div class="container">-->
            <!--&lt;!&ndash;<ul class="float-right m-0 list-inline mobile-block">&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Terms &amp; Conditions</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li>&bull;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="#">Privacy</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--&copy; All Rights Reserved, NL!A-->
        <!--</div>-->
    <!--</div>-->

<!--</footer>-->
<!-- /FOOTER -->


</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
    <div class="inner">
        <span class="loader"></span>
    </div>
</div><!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->
<script>var plugin_path = '/assets/plugins/';</script>
<script src="/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/assets/js/scripts.js"></script>


<script>
    var totalNewLs6 = jQuery("div.ls6>div").length;
    jQuery("#ls6count").html(totalNewLs6);
</script>

</body>
</html>

