<!-- FOOTER -->
<!--<footer id="footer" class="sticky">-->

<!--<div class="copyright">-->
<!--<div class="container">-->
<!--&lt;!&ndash;<ul class="float-right m-0 list-inline mobile-block">&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="#">Terms &amp; Conditions</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li>&bull;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="#">Privacy</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--&copy; All Rights Reserved, NL!A-->
<!--</div>-->
<!--</div>-->

<!--</footer>-->
<!-- /FOOTER -->


</div>
<footer id="footer" class="sticky">
    <div class="col-md-6">

        <div class="ml-50 clearfix">

            <a href="https://www.facebook.com/socion4x4" target="_blank" onclick="yaCounter45324948.reachGoal('GO_TO_FB'); return true;" class="social-icon social-icon-sm social-icon-transparent social-facebook float-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>

            <a href="https://www.vk.com/socion4x4" target="_blank" onclick="yaCounter45324948.reachGoal('GO_TO_VK'); return true;" class="social-icon social-icon-sm social-icon-transparent social-vk float-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="VK">
                <i class="icon-vk"></i>
                <i class="icon-vk"></i>
            </a>

            <a href="https://www.youtube.com/socion4x4" target="_blank" onclick="yaCounter45324948.reachGoal('GO_TO_YOUTUBE'); return true;" class="social-icon social-icon-sm social-icon-transparent social-youtube float-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="icon-youtube"></i>
                <i class="icon-youtube"></i>
            </a>

            <a href="https://twitter.com/socion4x4" target="_blank" onclick="yaCounter45324948.reachGoal('GO_TO_TWITER'); return true;" class="social-icon social-icon-sm social-icon-transparent social-twitter float-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>

            <a href="https://t.me/socion4x4" target="_blank" onclick="yaCounter45324948.reachGoal('GO_TO_TELEGRAM'); return true;" class="social-icon social-icon-sm social-icon-transparent social-telegram float-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Telegram">
                <i class="fa fa-telegram"></i>
                <i class="fa fa-telegram"></i>
            </a>

            <a href="https://www.instagram.com/socion4x4/" target="_blank" onclick="yaCounter45324948.reachGoal('GO_TO_INSTAGRAM'); return true;" class="social-icon social-icon-sm social-icon-transparent social-instagram float-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-instagram"></i>
            </a>

            <!--<a href="#" class="social-icon social-icon-sm social-icon-transparent social-rss float-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rss">-->
                <!--<i class="icon-rss"></i>-->
                <!--<i class="icon-rss"></i>-->
            <!--</a>-->

        </div>

    </div>
</footer>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
    <div class="inner">
        <span class="loader"></span>
    </div>
</div><!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->
<script>var plugin_path = '/assets/plugins/';</script>
<script src="/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="/assets/js/scripts.js"></script>


<script>
    var totalNewLs6 = jQuery("div.ls6>div").length;
    jQuery("#ls6count").html(totalNewLs6);
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter45324948 = new Ya.Metrika2({
                id: 45324948,
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/tag.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks2"); </script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/45324948" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript> <!-- /Yandex.Metrika counter -->

</body>
</html>

