{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<!--{{if .Resources.GetMatch "images/banner*" }}-->
<!--{{ $original1 := .Resources.GetMatch "images/title*"}}-->
<!--{{ with ($original1.Fill "400x400") }}-->
<!--<img class="img-fluid" src="{{.RelPermalink}}" width="400" height="400" alt="{{ .Title }}"/>-->
<!--{{ end }}-->
<!--{{else}}-->
<!--<p>"images/title*"not found</p>-->
<!--{{ end }}-->

<!--<section style="padding-bottom: 0!important; background-color: #d8d8d8">-->
{{ $Title := .Title }}
<section class="page-header page-header-xs">

    <div class="container text-center">
        <p class="mt-30 mb-0">архетип</p>
        <h3 style="margin-bottom: 10px" id="archetype-title">
            {{.Title}}
        </h3>
        {{ range .Params.subtitle }}
            <a href="../../archetype/?{{index . 0}}" class="badge badge-info">{{ index . 1 }}</a>
        {{ end }}

    </div>

</section>

<section class="b-0" style="padding-top: 50px">
    <div class="container">

        <div class="row justify-content-md-center">


            <div class="col-lg-6">

                <!--<div class="hidden-xs-down mb-30">-->
                <!--<h1 class="m-0 fs-25">PROJECT TITLE</h1>-->
                <!--<h6>JUNE 29, 2017 &ndash; PRESENT</h6>-->
                <!--</div>-->

                {{ with .Resources.Match "images/square*" }}
                <div>
                    {{ range . }}
                    <img class="img-fluid" src="{{ .RelPermalink }}" alt='{{$Title}}'/>
                    {{ end }}
                </div>
                {{ end }}

                <p>{{.Content}}</p>


                <!--<div class="heading-title heading-border heading-color mt-0">-->
                    <!--<h2 class="fs-18 fw-400">BEYOND THE FUTURE</h2>-->
                    <!--<p class="fs-13">WE FLY, WE NEVER FALL</p>-->
                <!--</div>-->
                <!--<a href="#" class="btn btn-xlg btn-default btn-bordered btn-block mt-50">ПЕРЕЙТИ К КУРСУ</a>-->

            </div>

            <div class="col-lg-4">

                <div>
                    <img class="img-fluid" src="/img/tarot/{{.Params.titleEn}}_lg.jpg" alt='{{$Title}}' style="display: block; margin: 0 auto; max-width: 200px">
                </div>

                <!--{{ with .Resources.Match "images/square*" }}-->
                <!--<div>-->
                    <!--{{ range . }}-->
                    <!--<img class="img-fluid" src="{{ .RelPermalink }}" alt='{{$Title}}'/>-->
                    <!--{{ end }}-->
                <!--</div>-->
                <!--{{ end }}-->
            </div>
        </div>
    </div>
</section>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-6">-->
<!--<h1>{{ .Title }}</h1>-->
<!--<small>{{ .Date.Format "Mon, Jan 2, 2006" }}</small>-->
<!--{{ .Content }}-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

{{ partial "footer.html" . }}